
<section class="signup-form">
  <form fxLayout="column" align="center" fxLayoutAlign="center center"
   fxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Email 
        Address" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">
        Field must not be empty
      </mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">
        Email field is invalid
      </mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be at least 6 charactes long">
      <input 
        type="password" 
        matInput 
        placeholder="Password" 
        ngModel 
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" 
    [disabled]="f.invalid">Submit</button>

    <button mat-raised-button color="primary" (click)="googleLogin()">Login with Google </button>
  
  </form>

</section>

