<section>
  <h2 style="margin: 20px; color:violet; ">Welcome to Data Table </h2>
</section>
<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="albumid">
      <mat-header-cell *matHeaderCellDef>AlbumID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.albumid}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.url}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="thumbnailurl">
      <mat-header-cell *matHeaderCellDef>ThumbnailURL</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.thumbnailurl}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
