<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onSidenavclose()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onSidenavclose()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/trainings" (click)="onSidenavclose()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Trainigs</span>
    </a>
    <mat-list-item>
        <button mat-icon-button (click)="onSidenavclose()">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>
